
/*--------------------------------------*/
/* Fonts import from remote
/*--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|&subset=latin,cyrillic,greek,greek-ext,latin-ext,cyrillic-ext);
@import "store/variables";
@import "border_radius";

/*/-----------------------------------------
  /-Mixins
  /                                  */
  
  /* pass in an empty string to round all borders */
  @mixin rounded($side, $radius: 10px) {
    @if $side == ""{
      border-radius: $radius;
      -moz-border-radius: $radius;
      -webkit-border-radius: $radius;
    } @else {
      border-#{$side}-radius: $radius;
      -moz-border-radius-#{$side}: $radius;
      -webkit-border-#{$side}-radius: $radius;
    }
  }
  
  @mixin shadowed($horiz, $vert, $blur: 0, $spread: 0, $color: black) {
    -moz-box-shadow: $horiz $vert $blur $spread $color;
	  -webkit-box-shadow: $horiz $vert $blur $spread $color;
	  box-shadow: $horiz $vert $blur $spread $color;
  }
  
  @mixin no_margin_or_padding() {
    margin: 0; padding: 0;
  }
  
  @mixin no-bullets() {
    list-style: none;
  }
  
/* customizations */

body {
  font-family: $ff_base;
  color: $body_text_color;
  line-height: 18px;
  font-size: $base_font_size;
  background-color: $layout_background_color;
  background-image: url('background1.jpg');
  background-repeat:no-repeat;
}

div.container { width:100%;
}

header {
  background-color: $header_background_color;
  background-image: url('back.svg');
  background-repeat:repeat-x;
  height: $header_height;
  width: 100%;
	@include shadowed(0, 1px, 15px);
	/*-moz-box-shadow: 0 5px 15px black;
	-webkit-box-shadow: 0 5px 15px black;
	box-shadow: 0 5px 15px black;*/
}

#wrapper { 
  width:940px; 
  position:relative;
  margin-left: auto;
  margin-right: auto;
  //padding: 20px;
  //background-color: $wrapper_background_color;
  //@include rounded("");
  //@include shadowed(0,0,15px);
  nav ul#main-nav-bar {
    float:right;
    padding-right:0;
    margin-right:0;
    li {
      position: relative;
      background-color: white;
      @include border-top-radius(3px);
      margin-left: 4px;
      margin-bottom:0;
      padding: 5px;
      padding-bottom: 13px;
      z-index:1;
    }
    li.selected { z-index:10; }
    
  }
}

#content {
  float:right;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:           border-box;
  padding: 20px;
  position: relative;
  background-color: $wrapper_background_color;
  @include rounded("");
  @include shadowed(0,0,15px);
  margin-top: -15px;
  margin-left:-60px;
  z-index:5;
  width:700px;
  min-height:400px;
}

aside {
  position: relative;
  background-color: $wrapper_background_color;
  z-index:1;
  margin-right:0;
  padding:10px;
  width:220px;
  @include border-left-radius(5px);
  ul { @include no-bullets(); }
}

#headwrap, #footwrap {
  width:940px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $header_background_color;
  @include shadowed(0,0,15px);
  @include rounded("");
  background-image: url('back.svg');
  background-repeat:repeat-x;
  margin-right:0;

  div.footget, .footget h1 {
    @include no_margin_or_padding();
    float:left;
    -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    min-height:50px;
    width:50%;
    color:lighten($layout_background_color,10%);
    //padding: 10px;
  }
}

div#home-content {
  margin-bottom:20px;

  img {
    padding:5px;
    @include shadowed(0,0,10px);
  }
}
/*/---------------------------/*/
/* Product Listing
/*-----------------------------*/

.product-listing {
  @include no-bullets;
  margin: 2em 0px 0px 0px;
  padding: 0px;
  li {
    @include rounded("",3px);
    height: 180px;
    width: 140px;
    text-align: center;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    position: relative;
    a {
      display: block;
      text-decoration: none;
      color: #111;
    }
    a.info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 5px;
      width: 150px;
      min-height: 60px;
      background: #FFF image-url('shadow-top.png') 0px -35px repeat-x;
      border-top: 1px solid white;
      span { display: block; }
    }
  }
  li:hover {
    border-color: $header_background_color;
    a.info {
      background: $header_background_color image-url('bottom-shine.png') bottom left repeat-x;
      color: #FFF;
    }
  }
}

ul.thumbnails {
  @include no_margin_or_padding;
  list-style: none;
  li {
    float: left;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid white;
    min-height: 50px;
    width: 50px;
    position: relative;
    img {
      position :absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  li:hover { border-color: #CCC; }
  li.selected { border-color: #999; }
}
