

/*--------------------------------------*/
/* Fonts import from remote
/*--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|&subset=latin,cyrillic,greek,greek-ext,latin-ext,cyrillic-ext);
@import "store/variables";
@import "border_radius";

/*/-----------------------------------------
  /-Mixins
  /                                  */
  
  /* pass in an empty string to round all borders */
  @mixin rounded($side, $radius: 10px) {
    @if $side == ""{
      border-radius: $radius;
      -moz-border-radius: $radius;
      -webkit-border-radius: $radius;
    } @else {
      border-#{$side}-radius: $radius;
      -moz-border-radius-#{$side}: $radius;
      -webkit-border-#{$side}-radius: $radius;
    }
  }
  
  @mixin shadowed($horiz, $vert, $blur: 0, $spread: 0, $color: black) {
    -moz-box-shadow: $horiz $vert $blur $spread $color;
	  -webkit-box-shadow: $horiz $vert $blur $spread $color;
	  box-shadow: $horiz $vert $blur $spread $color;
  }
  
  @mixin no_margin_or_padding() {
    margin: 0; padding: 0;
  }
  
  @mixin no-bullets() {
    list-style: none;
  }
  
/* customizations */
.hidden {
  display:none;
}

body {
  font-family: $ff_base;
  color: $body_text_color;
  line-height: 18px;
  font-size: $base_font_size;
  background-color: $layout_background_color;
  background-image: url('background1.jpg');
  background-repeat:no-repeat;
}

div.container { width:100%; }

header {
  //background-color: $header_background_color;
  //background-image: url('back.svg');
  //background-repeat:repeat-x;
  height: $header_height;
  width: 100%;
  &.row{
    margin-bottom: 120px;
  }
	/*-moz-box-shadow: 0 5px 15px black;
	-webkit-box-shadow: 0 5px 15px black;
	box-shadow: 0 5px 15px black;*/
	
	#main-nav-wrap {
    position:fixed;
		z-index: 6;
    top:14px;
    background-color:lighten($header_background_color, 10%);
    width:100%;
    left:0px
    
  }
  nav ul#main-nav-bar {
    //float:left;
    padding:0;
    margin-right:auto;
    margin-left:auto;
    width:940px;
    //@include border-top-radius(3px);
    
    li {
      //position: relative;
      //background-color: white;
      //@include border-top-radius(3px);
      float:left;
      margin-left: 4px;
      margin-bottom:0;
      padding: 5px;
      //padding-bottom: 13px;
      //z-index:1;
      }
    //li.selected { z-index:10; }
    
  }
}

#wrapper { 
  width:940px; 
  position:relative;
  down:100px;
  margin-left: auto;
  margin-right: auto;
  //padding: 20px;
  //background-color: $wrapper_background_color;
  //@include rounded("");
  //@include shadowed(0,0,15px);
}


#content {
  float:right;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:           border-box;
  padding: 20px;
  position: relative;
  background-color: $wrapper_background_color;
  @include rounded("");
  @include shadowed(0,0,15px);
  //margin-top: -15px;
  margin-left:-60px;
  z-index:5;
  //width:700px;
  min-height:600px;
  &.twelve{
    width:760px;
  }
}

#sidebar {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 160px;
}
aside {
  position: relative;
  background-color: $wrapper_background_color;
  z-index:1;
  margin-right:0;
  padding:10px;
  @include border-left-radius(5px);
  ul { @include no-bullets(); }
}

#headwrap, #footwrap {
  width:940px;
  margin-left: auto;
  margin-right: auto;
}

#cart_buttons {
  margin-top: 15px;
  float:right;
}

#subtotal{
  float:right;
  margin-right:10px;
}

footer {
  -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $header_background_color;
  @include shadowed(0,0,15px);
  @include rounded("");
  background-image: url('back.svg');
  background-repeat:repeat-x;
  margin-right:0;

  div.footget {
    h1,h2,h3,p,a,ul,li{
      font-size:100%;
      margin:0;
      padding:0;
      color:$layout_background_color; 
      
    }
    
    #email-signup {
     background-color:lighten($header_background_color, 10%);
     padding:10px;
     @include rounded("", 3px);
     margin-top:3px;
     
     input {
      font-size:100%;
      margin-top:2px;
      margin-right:2px;
     }
    }
    
    h2 {
      border-bottom:1px solid $layout_background_color;
      width:50%;
      font-size:120%;
      margin-top:10px;
      margin-bottom:10px;
      line-height:20px;
    }
    
      @include no_margin_or_padding();
      float:left;
      -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
      box-sizing:        border-box;
      min-height:50px;
      width:33%;
      color: $layout_background_color;
      //padding: 10px;
  }
}

div#home-content {
  margin-bottom:20px;

  img#bordered {
    padding:5px;
    @include shadowed(0,0,10px);
  }
}
/*/---------------------------/*/
/* Product Listing
/*-----------------------------*/

.product-listing {
  @include no-bullets;
  margin: 2em 0px 0px 0px;
  padding: 0px;
  li {
    @include rounded("",3px);
    height: 180px;
    width: 133px;
    text-align: center;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    position: relative;
    a {
      display: block;
      text-decoration: none;
      color: #111;
    }
    a.info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 5px;
      width: 143px;
      min-height: 60px;
      background: #FFF image-url('shadow-top.png') 0px -35px repeat-x;
      border-top: 1px solid white;
      span { display: block; }
    }
  }
  li:hover {
    border-color: $header_background_color;
    a.info {
      background: $header_background_color image-url('bottom-shine.png') bottom left repeat-x;
      color: #FFF;
    }
  }
}

ul.thumbnails {
  @include no_margin_or_padding;
  list-style: none;
  li {
    float: left;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid white;
    min-height: 50px;
    width: 50px;
    position: relative;
    img {
      position :absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  li:hover { border-color: #CCC; }
  li.selected { border-color: #999; }
}

div#cart-form div.five {
  width:520px;
  padding-bottom:20px;
  
  div#product-price {
    float: left;
    margin-right:20px;
  }
  
  div#add-to-cart {
    padding-top: 5px;
  }
}

.prod_add_cart {
	background-image: url('cart.png');
	&:hover {background-image: url('cart.png')}
}

nav#top-nav-bar {
  @include shadowed(0, 0, 5px)
}

figure#logo {
  position:absolute;
  top:60px;
  padding-top:10px;
  a {
    margin-left: 50px;
  }
}

#main-image{
  height:236px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: $layout_background_color;
    }
  }
} 

div#checkout {
  .sixteen {
    width: 880px;
  }
  
  .omega {
    &.four{
      
      width: 170px;
    }
  }
}

select#taxon{
  font-family:sans-serif;
  font-size:140%;
}

li#search-bar input {
  font-family:sans-serif;
  font-size:140%;
  vertical-align:top;
}

div.post-archive h4.year {
background-color: $link_text_color; 
  a:hover {
    background-color: $link_hover_color;
  }
}

#no-cart {
  background-color: lighten($header_background_color, 60%);
  padding:5px;
}

#product-list-sort {
  float: right;  
}

.search-results-title {
  padding: 5px;
}

.addr_field {
	pre {font-family: sans-serif;}
  tr:hover {
    border:5px solid black;
    background-color: lighten($header_background_color, 70%);
  }
  border-collapse: separate;
}

#use_billing_wrap {
  background-color: lighten($header_background_color, 70%);
  position: absolute;
  left: 580px;
  top: 90px;
  padding: 5px;
}

.inline { display: inline; }

.contact-form {
	padding: 10px;
	margin: 10px;
	margin-top: 0px;
	width: 680px;
	border: 1px dashed red;
}

.pr1 {padding-right: 10px !important;}
.tar {text-align: right;}

/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
	-------------------------------------------------- */

	.container { padding: 0px 20px 0px 20px; }
	.container-bump { padding: 100px 20px 0px 20px; }
	
	.row { width: 100%; max-width: 1000px; min-width: 727px; margin: 0 auto; margin-bottom: 5px; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0; }
	
	.column, .columns { float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0; }
	
	.row .one.columns 		{ width: 8.3%; }
	.row .two.columns 		{ width: 16.7%; }
	.row .three.columns 	{ width: 25%; }
	.row .four.columns 		{ width: 33.3%; }
	.row .five.columns 		{ width: 41.7%; }
	.row .six.columns 		{ width: 50%; }
	.row .seven.columns 	{ width: 58.3%; }
	.row .eight.columns 	{ width: 66.7%; }
	.row .nine.columns 		{ width: 75%; }
	.row .ten.columns 		{ width: 83.3%; }
	.row .eleven.columns 	{ width: 91.7%; }
	.row .twelve.columns 	{ width: 100%; }
	
	.row .offset-by-one 	{ margin-left: 13.1%;  }
	.row .offset-by-two 	{ margin-left: 21.8%;  }
	.row .offset-by-three 	{ margin-left: 30.5%;  }
	.row .offset-by-four 	{ margin-left: 39.2%;  }
	.row .offset-by-five 	{ margin-left: 47.9%;  }
	.row .offset-by-six 	{ margin-left: 56.6%;  }
	.row .offset-by-seven 	{ margin-left: 65.3%;  }
	.row .offset-by-eight 	{ margin-left: 74.0%;  }
	.row .offset-by-nine 	{ margin-left: 82.7%;  }
	.row .offset-by-ten 	{ margin-left: 91.4%;  }
	
	.row .centered { float: none; margin: 0 auto; }

	.row .offset-by-one:first-child 	{ margin-left: 8.7%;  }
	.row .offset-by-two:first-child 	{ margin-left: 17.4%;  }
	.row .offset-by-three:first-child 	{ margin-left: 26.1%;  }
	.row .offset-by-four:first-child 	{ margin-left: 34.8%;  }
	.row .offset-by-five:first-child 	{ margin-left: 43.5%;  }
	.row .offset-by-six:first-child 	{ margin-left: 52.2%;  }
	.row .offset-by-seven:first-child 	{ margin-left: 60.9%;  }
	.row .offset-by-eight:first-child 	{ margin-left: 69.6%;  }
	.row .offset-by-nine:first-child 	{ margin-left: 78.3%;  }
	.row .offset-by-ten:first-child 	{ margin-left: 87%;  }
	.row .offset-by-eleven:first-child 	{ margin-left: 95.7%;  }
	
	/* -----------------------------------------
	   Custom Forms
	----------------------------------------- */

	form.custom span.custom { display: inline-block; width: 14px; height: 14px; position: relative; top: 2px; border: solid 1px #ccc; background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat; }
	form.custom span.custom.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
	form.custom span.custom.radio.checked { background-position: 0 -14px; }
	form.custom span.custom.checkbox.checked { background-position: 0 -28px; }

	form.custom div.custom.dropdown { position: relative; display: inline-block; width: auto; height: 28px; margin-bottom: 9px; }
	form.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; }
	form.custom div.custom.dropdown a.selector { position: absolute; width: 26px; height: 26px; display: block; background: url(../images/misc/custom-form-sprites.png) -14px 0 no-repeat; right: 0; top: 0; border: solid 1px #ddd; }
	form.custom div.custom.dropdown:hover a.selector,
	form.custom div.custom.dropdown.open a.selector { background-position: -14px -26px; }

	form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: rgba(255,255,255,0.9); border: solid 1px #ddd; z-index: 10; }
	form.custom div.custom.dropdown ul li { cursor: pointer; padding: 3px 38px 3px 6px; margin: 0; white-space: nowrap}
	form.custom div.custom.dropdown ul li.selected { background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat; }
	form.custom div.custom.dropdown ul li:hover { background-color: #2a85e8; color: #fff; }
	form.custom div.custom.dropdown ul li.selected:hover { background: url(../images/misc/custom-form-sprites.png) #2a85e8 right -78px no-repeat; }
	form.custom div.custom.dropdown ul.show { display: block; }

	form.custom div.custom.dropdown.open ul { display: block; }

	/* Custom input, disabled */
	form.custom .custom.disabled { background-color: #ddd; }