

/*--------------------------------------*/
/* Fonts import from remote
/*--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|&subset=latin,cyrillic,greek,greek-ext,latin-ext,cyrillic-ext);
@import "store/variables";
@import "border_radius";

/*/-----------------------------------------
  /-Mixins
  /                                  */
  
  /* pass in an empty string to round all borders */
  @mixin rounded($side, $radius: 10px) {
    @if $side == ""{
      border-radius: $radius;
      -moz-border-radius: $radius;
      -webkit-border-radius: $radius;
    } @else {
      border-#{$side}-radius: $radius;
      -moz-border-radius-#{$side}: $radius;
      -webkit-border-#{$side}-radius: $radius;
    }
  }
  
  @mixin shadowed($horiz, $vert, $blur: 0, $spread: 0, $color: black) {
    -moz-box-shadow: $horiz $vert $blur $spread $color;
	  -webkit-box-shadow: $horiz $vert $blur $spread $color;
	  box-shadow: $horiz $vert $blur $spread $color;
  }
  
  @mixin no_margin_or_padding() {
    margin: 0; padding: 0;
  }
  
  @mixin no-bullets() {
    list-style: none;
  }
  
/* customizations */
.hidden {
  display:none;
}

body {
  font-family: $ff_base;
  color: $body_text_color;
  line-height: 18px;
  font-size: $base_font_size;
  background-color: $layout_background_color;
  background-image: url('background1.jpg');
  background-repeat:no-repeat;
}

div.container { width:100%; }

header {
  //background-color: $header_background_color;
  //background-image: url('back.svg');
  //background-repeat:repeat-x;
  height: $header_height;
  width: 100%;
  &.row{
    margin-bottom: 120px;
  }
	/*-moz-box-shadow: 0 5px 15px black;
	-webkit-box-shadow: 0 5px 15px black;
	box-shadow: 0 5px 15px black;*/
	
	#main-nav-wrap {
    position:absolute;
    top:14px;
    background-color:lighten($header_background_color, 10%);
    width:100%;
    left:0px
    
  }
  nav ul#main-nav-bar {
    //float:left;
    padding:0;
    margin-right:auto;
    margin-left:auto;
    width:940px;
    //@include border-top-radius(3px);
    
    li {
      //position: relative;
      //background-color: white;
      //@include border-top-radius(3px);
      float:left;
      margin-left: 4px;
      margin-bottom:0;
      padding: 5px;
      //padding-bottom: 13px;
      //z-index:1;
      }
    //li.selected { z-index:10; }
    
  }
}

#wrapper { 
  width:940px; 
  position:relative;
  down:100px;
  margin-left: auto;
  margin-right: auto;
  //padding: 20px;
  //background-color: $wrapper_background_color;
  //@include rounded("");
  //@include shadowed(0,0,15px);
}


#content {
  float:right;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:           border-box;
  padding: 20px;
  position: relative;
  background-color: $wrapper_background_color;
  @include rounded("");
  @include shadowed(0,0,15px);
  //margin-top: -15px;
  margin-left:-60px;
  z-index:5;
  //width:700px;
  min-height:600px;
  &.twelve{
    width:760px;
  }
}

#sidebar {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 160px;
}
aside {
  position: relative;
  background-color: $wrapper_background_color;
  z-index:1;
  margin-right:0;
  padding:10px;
  @include border-left-radius(5px);
  ul { @include no-bullets(); }
}

#headwrap, #footwrap {
  width:940px;
  margin-left: auto;
  margin-right: auto;
}

#cart_buttons {
  margin-top: 15px;
  float:right;
}

#subtotal{
  float:right;
  margin-right:10px;
}

footer {
  -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $header_background_color;
  @include shadowed(0,0,15px);
  @include rounded("");
  background-image: url('back.svg');
  background-repeat:repeat-x;
  margin-right:0;

  div.footget {
    h1,h2,h3,p,a,ul,li{
      font-size:100%;
      margin:0;
      padding:0;
      color:$layout_background_color; 
      
    }
    
    #email-signup {
     background-color:lighten($header_background_color, 10%);
     padding:10px;
     @include rounded("", 3px);
     margin-top:3px;
     
     input {
      font-size:100%;
      margin-top:2px;
      margin-right:2px;
     }
    }
    
    h2 {
      border-bottom:1px solid $layout_background_color;
      width:50%;
      font-size:120%;
      margin-top:10px;
      margin-bottom:10px;
      line-height:20px;
    }
    
      @include no_margin_or_padding();
      float:left;
      -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
      box-sizing:        border-box;
      min-height:50px;
      width:33%;
      color: $layout_background_color;
      //padding: 10px;
  }
}

div#home-content {
  margin-bottom:20px;

  img {
    padding:5px;
    @include shadowed(0,0,10px);
  }
}
/*/---------------------------/*/
/* Product Listing
/*-----------------------------*/

.product-listing {
  @include no-bullets;
  margin: 2em 0px 0px 0px;
  padding: 0px;
  li {
    @include rounded("",3px);
    height: 180px;
    width: 133px;
    text-align: center;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    position: relative;
    a {
      display: block;
      text-decoration: none;
      color: #111;
    }
    a.info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 5px;
      width: 143px;
      min-height: 60px;
      background: #FFF image-url('shadow-top.png') 0px -35px repeat-x;
      border-top: 1px solid white;
      span { display: block; }
    }
  }
  li:hover {
    border-color: $header_background_color;
    a.info {
      background: $header_background_color image-url('bottom-shine.png') bottom left repeat-x;
      color: #FFF;
    }
  }
}

ul.thumbnails {
  @include no_margin_or_padding;
  list-style: none;
  li {
    float: left;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid white;
    min-height: 50px;
    width: 50px;
    position: relative;
    img {
      position :absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  li:hover { border-color: #CCC; }
  li.selected { border-color: #999; }
}

div#cart-form div.five {
  width:520px;
  padding-bottom:20px;
  
  div#product-price {
    float: left;
    margin-right:20px;
  }
  
  div#add-to-cart {
    padding-top: 5px;
  }
}

nav#top-nav-bar {
  @include shadowed(0, 0, 5px)
}

figure#logo {
  position:absolute;
  top:60px;
  padding-top:10px;
  a {
    margin-left: 50px;
  }
}

#main-image{
  height:236px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: $layout_background_color;
    }
  }
} 

div#checkout {
  .sixteen {
    width: 880px;
  }
  
  .omega {
    &.four{
      
      width: 170px;
    }
  }
}

select#taxon{
  font-family:sans-serif;
  font-size:140%;
}

li#search-bar input {
  font-family:sans-serif;
  font-size:140%;
  vertical-align:top;
}

div.post-archive h4.year {
background-color: $link_text_color; 
  a:hover {
    background-color: $link_hover_color;
  }
}

#no-cart {
  background-color: lighten($header_background_color, 60%);
  padding:5px;
}
