<nav id="taxonomies" class="sidebar-item" data-hook>
  <% get_taxonomies.sort! { |a,b| a.order <=> b.order }.each do |taxonomy| %>
    <h6 class='taxonomy-root'><%= taxonomy.shop_by? ? t(:shop_by_taxonomy, :taxonomy => taxonomy.name.singularize) : t(:recommend_taxonomy, :taxonomy => taxonomy.name.singularize) %></h6>
    <%= my_taxons_tree(taxonomy.root, @taxon) %>
  <% end %>
</nav>
