<% if store_menu? %>
  <nav class= 'columns alpha omega sixteen'>
    <ul id='main-nav-bar' class='inline' data-hook>            
      <%= render :partial => 'spree/shared/store_menu' %>
    </ul>
  </nav>
<% end %>                   
