<div data-hook="taxon_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products.sort! { |a,b| a.name.downcase <=> b.name.downcase }, :taxon => @taxon } %>
</div>
